<!DOCTYPE html>
<html>
    <% include ../static/partials/head.ejs %>
<body>

    <% include ../static/partials/navbar.ejs %>
    
    <main class="container col-lg-7">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">My Groups</li>
            </ol>
        </nav>
        <% include ../static/partials/messages.ejs %>
        <header class="jumbotron py-5">
            <h1 class="display-4 text-center">My Groups</h1>
            <hr>
            <a href="/groups/new">
                <button class="btn btn-success">Create Group</button>
            </a>
        </header>
        
        <h3>Groups</h3>
        <table class="table table-striped col-lg-7">
            <thead>
                <tr>
                    <th scope="col" class="text-center">Name</th>
                    <th scope="col" class="text-center">Members</th>
                    <th scope="col" class="text-center">View</th>
                </tr>
            </thead>
            <tbody>
            <% members.forEach((member) => { %>
                <tr>
                    <td scope="row" class="text-center"><%= member.Group.name %></td>
                    <td class="text-center"><%= member.Group.dataValues.numberOfMembers %></td>
                    <td class="text-center"><a href="/groups/<%= member.Group.id %>/show"><button class="btn btn-info">Visit Group</button></a></td>
                </tr>
            <% }) %>
            </tbody>
        </table>
    </main>

    <% include ../static/partials/baseScripts.ejs %>
</body>
</html>