<!DOCTYPE html>
<html>
    <% include ../static/partials/head.ejs %>
<body>
    <% include ../static/partials/navbar.ejs %>
    <main class="container">
        <% include ../static/partials/messages.ejs %>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="/groups">My Groups</a></li>
                <li class="breadcrumb-item active" aria-current="page">New Group</li>
            </ol>
        </nav>
        <header class="jumbotron">
            <h1 class="display-4">Create Group</h1>
        </header>
        <form method="POST" action="/groups/create">
            <div class="form-group">
                <label for="groupName">Group Name</label>
                <input type="text" class="form-control" id="groupName" name="groupName">
            </div>
            <button type="submit" class="btn btn-success">Create</button>
        </form>
    </main>

    <% include ../static/partials/baseScripts.ejs %>
</body>
</html>