<!DOCTYPE html>
<html>
    <% include ../static/partials/head.ejs %>
<body>
    <% include ../static/partials/navbar.ejs %>
    <main class="container">
        <% include ../static/partials/messages.ejs %>
        <header class="jumbotron">
            <h1 class="display-2">(list/new)</h1>
        </header>
        <!-- form goes here -->
        <form method="POST" action="/groups/<%= groupId %>/lists/create">
            <div class="form-group">
                <label for="listName">List Name</label>
                <input type="text" class="form-control" id="listName" name="listName">
            </div>
            <button type="submit" class="btn btn-success">Create</button>
        </form>
    </main>

    <% include ../static/partials/baseScripts.ejs %>
</body>
</html>