<!-- this will be an index for item objects -->

<!DOCTYPE html>
<html>
    <% include ../static/partials/head.ejs %>
<body>
    <% include ../static/partials/navbar.ejs %>
    <main class="container">
        <% include ../static/partials/messages.ejs %>
        <header class="jumbotron">
            <h1 class="display-2"><%= list.name %> (list/show)</h1>
        </header>

    </main>

    <% include ../static/partials/baseScripts.ejs %>
</body>
</html>