<!DOCTYPE html>
<html>
    <% include ./partials/head.ejs %>
<body>
    <% include ./partials/messages.ejs %>
    <% include ./partials/navbar.ejs %>
    <main class="container">
        <header class="jumbotron">
            <h1 class="display-2">Hello, world!</h1>
        </header>

    </main>

    <% include ./partials/baseScripts.ejs %>
</body>
</html>