<!DOCTYPE html>
<html>
    <% include ./partials/head.ejs %>
<body>
    <nav id="topNav">
        <h2>New's Today</h2>
        <ul>
            <li>
                <a href="" class="topLinks">Home</a>
            </li>
            <li>
                <a href="" class="topLinks">About</a>
            </li>
            <li>
                <a href="" class="topLinks">Contact</a>
            </li>                                                 
        </ul>
    </nav>
    <nav id="sideNav">
        <div>
            <a href="javascript:void(0)" id="close" onclick="close()">X</a>
        </div>
        <div id="sideTitle">News</div>
        <ul>
            <li>
                <a href="" class="sideLinks">Daily</a>
            </li>
            <li>
                <a href="" class="sideLinks">Weekly</a>
            </li>
            <li>
                <a href="" class="sideLinks">Monthly</a>
            </li>
            <li>
                <a href="" class="sideLinks">Anual</a>
            </li>
        </ul>
    </nav>


    <section id="section">
        <div id="hello">Hello, world!</div>

        <article>
            <div id="title">Vladmir Putin</div>
            <p>suggests everyone give over thier money.  
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis itaque minus tenetur blanditiis, quo, explicabo adipisci, nobis unde corporis similique dignissimos alias consequuntur tempore quod quisquam? Laborum consequuntur ipsum vitae!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur eos placeat illo soluta accusamus atque? Similique quibusdam veritatis mollitia hic, ducimus cumque vel ab, expedita corrupti tempora, obcaecati blanditiis iusto.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nesciunt reprehenderit eos omnis dolor doloremque perspiciatis alias quidem modi praesentium, iste hic temporibus ipsam esse vero, ducimus eaque inventore aliquam tenetur!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum officia veniam ducimus architecto assumenda earum incidunt doloremque recusandae eligendi similique harum maiores quod expedita nihil, voluptatibus sint illo cumque eum.
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque, ab optio! Quaerat a magni ea, porro consectetur laboriosam dignissimos, perspiciatis laborum fugit minus inventore quos. Cumque magni nihil deleniti quo?
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ab quis maxime, facere explicabo itaque porro, facilis sequi distinctio omnis hic enim voluptates sit tempore officiis a, nobis repellendus praesentium delectus.
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates commodi doloribus cum, accusantium provident saepe error vero cumque nobis unde quis. Minima, nulla sed mollitia nisi delectus quasi voluptates eos?
            </p>
        </article>
        <article>
            <div id="title">Vladmir Putin</div>
            <p>suggests everyone give over thier money.  
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis itaque minus tenetur blanditiis, quo, explicabo adipisci, nobis unde corporis similique dignissimos alias consequuntur tempore quod quisquam? Laborum consequuntur ipsum vitae!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur eos placeat illo soluta accusamus atque? Similique quibusdam veritatis mollitia hic, ducimus cumque vel ab, expedita corrupti tempora, obcaecati blanditiis iusto.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nesciunt reprehenderit eos omnis dolor doloremque perspiciatis alias quidem modi praesentium, iste hic temporibus ipsam esse vero, ducimus eaque inventore aliquam tenetur!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum officia veniam ducimus architecto assumenda earum incidunt doloremque recusandae eligendi similique harum maiores quod expedita nihil, voluptatibus sint illo cumque eum.
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque, ab optio! Quaerat a magni ea, porro consectetur laboriosam dignissimos, perspiciatis laborum fugit minus inventore quos. Cumque magni nihil deleniti quo?
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ab quis maxime, facere explicabo itaque porro, facilis sequi distinctio omnis hic enim voluptates sit tempore officiis a, nobis repellendus praesentium delectus.
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates commodi doloribus cum, accusantium provident saepe error vero cumque nobis unde quis. Minima, nulla sed mollitia nisi delectus quasi voluptates eos?
            </p>
        </article>
        <article>
            <div id="title">Vladmir Putin</div>
            <p>suggests everyone give over thier money.  
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis itaque minus tenetur blanditiis, quo, explicabo adipisci, nobis unde corporis similique dignissimos alias consequuntur tempore quod quisquam? Laborum consequuntur ipsum vitae!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur eos placeat illo soluta accusamus atque? Similique quibusdam veritatis mollitia hic, ducimus cumque vel ab, expedita corrupti tempora, obcaecati blanditiis iusto.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nesciunt reprehenderit eos omnis dolor doloremque perspiciatis alias quidem modi praesentium, iste hic temporibus ipsam esse vero, ducimus eaque inventore aliquam tenetur!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum officia veniam ducimus architecto assumenda earum incidunt doloremque recusandae eligendi similique harum maiores quod expedita nihil, voluptatibus sint illo cumque eum.
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque, ab optio! Quaerat a magni ea, porro consectetur laboriosam dignissimos, perspiciatis laborum fugit minus inventore quos. Cumque magni nihil deleniti quo?
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ab quis maxime, facere explicabo itaque porro, facilis sequi distinctio omnis hic enim voluptates sit tempore officiis a, nobis repellendus praesentium delectus.
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates commodi doloribus cum, accusantium provident saepe error vero cumque nobis unde quis. Minima, nulla sed mollitia nisi delectus quasi voluptates eos?
            </p>
        </article>
        <article>
            <div id="title">Vladmir Putin</div>
            <p>suggests everyone give over thier money.  
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis itaque minus tenetur blanditiis, quo, explicabo adipisci, nobis unde corporis similique dignissimos alias consequuntur tempore quod quisquam? Laborum consequuntur ipsum vitae!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur eos placeat illo soluta accusamus atque? Similique quibusdam veritatis mollitia hic, ducimus cumque vel ab, expedita corrupti tempora, obcaecati blanditiis iusto.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nesciunt reprehenderit eos omnis dolor doloremque perspiciatis alias quidem modi praesentium, iste hic temporibus ipsam esse vero, ducimus eaque inventore aliquam tenetur!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum officia veniam ducimus architecto assumenda earum incidunt doloremque recusandae eligendi similique harum maiores quod expedita nihil, voluptatibus sint illo cumque eum.
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque, ab optio! Quaerat a magni ea, porro consectetur laboriosam dignissimos, perspiciatis laborum fugit minus inventore quos. Cumque magni nihil deleniti quo?
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ab quis maxime, facere explicabo itaque porro, facilis sequi distinctio omnis hic enim voluptates sit tempore officiis a, nobis repellendus praesentium delectus.
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates commodi doloribus cum, accusantium provident saepe error vero cumque nobis unde quis. Minima, nulla sed mollitia nisi delectus quasi voluptates eos?
            </p>
        </article>
    </section>
    <script>
        var sideNav = document.getElementById("sideNav")
        var body = document.getElementById("section")
        function close(){
            document.getElementById("sideNav").style.width = "0px";
            document.getElementById("section").style.marginLeft = "0px";
        }
    </script>
</body>





<template>
    <% include ./partials/navbar.ejs %>
    <main class="container">
        <% include ./partials/messages.ejs %>
        <header class="jumbotron py-5">
            <h1 class="text-center">
                <% if(currentUser) { %>
                    <%= currentUser.username %>, Welcome to Shoppit!
                <% } else { %>
                    Welcome to Shoppit!
                <% } %>
            </h1>
            <p class="lead text-center">
                Simplify your Shopping
            </p>
            <% if(currentUser){ %>
                <div class="row mt-3">
                    <a href="/groups" class="mx-auto"><button class="btn btn-primary">My Groups</button></a> 
                </div>
            <% } %>
            <hr class="my-5">
            <h4 class="text-center"><u>How it works</u></h4>
            <p class="text-center mx-auto col-lg-7"><em>Sign-Up</em><br> <em>Create</em> a group<br> <em>Add</em> your roommates <br><em>Create</em> shopping list <br><em>Add</em> items <br><em>Mark</em> items as purchased</p>
            <% if(!currentUser){ %>
                <div class="row mt-2">
                    <a href="/sign_up" class="mx-auto"><button class="btn btn-primary">Get Started</button></a>
                </div> 
            <% } %>
        </header>
    </main>

    <% include ./partials/baseScripts.ejs %>
</template>
</html>


