<!DOCTYPE html>
<html>
    <% include ./partials/head.ejs %>
<body>
    <% include ./partials/navbar.ejs %>
    <main class="container">
        <% include ./partials/messages.ejs %>
        <header class="jumbotron">
            <h1 class="">
                <% if(currentUser) { %>
                    Welcome <%= currentUser.username %>!
                <% } else { %>
                    (static/landing)
                <% } %>
            </h1>
        </header>

    </main>

    <% include ./partials/baseScripts.ejs %>
</body>
</html>